.dataView{
    width: 80%;
}

.filters{
    max-width: 600px;
    margin: auto;
}

.two-player{
    width: 40%;
    display: inline-block;
}

.mergedView{
    width: 80%;
    display: inline-block;
}

.dropdown-link{
    display: inline-block;
    padding: 20px 0;
    font-size: 14pt;
}