.dataView{
    width: 80%;
}

.filters{
    width: 80%;
    margin: auto;
}

.two-player{
    width: 40%;
    display: inline-block;
}

.mergedView{
    width: 80%;
    display: inline-block;
}

.dropdown-link{
    display: inline-block;
}