.profile{
    width: var(--logo-width);
    background-color: cornsilk;
}


.profilePic{
    width: var(--logo-width);
    height: var(--logo-height);

}


.profile div {
    box-sizing: border-box;
}

.profile-entry {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 5px 10px 5px;
}

.profile-entry-left {
    text-align: left;
    font-weight: bold;
}

.profile-entry-right {
    text-align: right;
    flex: 1;
    margin-left: 2px;
}

.profile-pic {
    width: 100%;
}


.player-name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.selected-border{
    background-color: #666;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}