@import "styles/App.css";
@import "styles/TopNavBar.css";
@import "styles/ShotChart.css";
@import "styles/Profile.css";
@import "styles/Main.css";
@import "styles/DataViewContaier.css";
@import "~antd/dist/antd.css";
@import "styles/SearchBar.css";
@import "styles/CompareShotChart.css";
@import "styles/Login.css";

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
    --logo-height: 120px;
    --logo-width: 164px;
}
